:root{
    //--primary-color: #094074;
    --primary-color: #E4B363;
    --primary-color-dark: #FA9F42;
    --primary-color-light: #0f5ea8;

    --secondary-color: #D16666;
    --thirtiary-color: #7B9E89;

  
    //--background-color: #f7f9f9;
    --background-color: #FFF8F0;
    --text-color: #333;
    --text-color-header: #FFF8F0;

     --test-color: #610345;

 

    --white-1: #FFFcFa;
     --light-grey-1: #FFF8F0; // floral white
     --light-grey-2: #CEB5A7; // silver pink 
     --grey-1: #EDE7E3; // platinum
     --grey-2: #6C756B; //nickle
     --black-1: #313638; // onyx
     --black-2: #0D1821; //rich black
     --black-3: #2C4251; //charcoal
     --black-tint: #1F2041; // space cadet (bluish)

      // 0D1821 rich black
        // 313638 onyx
        // 1F2041 space cadet (bluish)
        // 2C4251 charcoal


    // favorie
    // E4B363 (sunlight), F18805 tangerine, FA9F42 deep saffron
    //  D16666 fuzzy wuzzy
     // 7B9E89 morning blue (pale green)
     // 2B4162 indigo dye (dark blue), 9395D3 middle blue, 96C5F7 light blue

     // 610345 tian purple

     // 56CBF9 light blue
     // 8E5572 purple
     // BBBE64 goldish, E4B363 (sunlight)
     // EF6461 light red
     // 6E0D25 dark red
     // 313638 onyx

     // EDE7E3 platinum, f7f9f9 (backgrond), FFF8F0 floral white
    // FF8811 orange
    // E0CA3C yellow
     // 82C0CC blue green
     // 19647E blue saphire 
     // 7B9E89 morning blue (pale green)

     // F18805 tangerin (fuller sunlight)

     // greys
     // light
        // FFF8F0 floral white
     // greyish
        // CEB5A7 silver pink 
        // EDE7E3 platinum, 
        // 6C756B nickle (darker grey)
     // dark
        // 0D1821 rich black
        // 313638 onyx
        // 1F2041 space cadet (bluish)
        // 2C4251 charcoal


}

[data-theme="dark"] {

}