:root{
    --primary-color: #094074;
    --primary-color-dark: #062e54;
    --primary-color-light: #0f5ea8;

    --highlight-color: #7fDeef;
    --secondary-color: #78D5D7;
    --background-color: #f7f9f9;
    --text-color: #333;
    --text-color-header: #f7f9f9;

}

[data-theme="dark"] {

}