@mixin overlay-navigation-button {
    width: 8rem;
    position: absolute;
    top: 50%;
    cursor: pointer;  

    border-radius: 50%;
    box-shadow: 0 .2rem .5rem rgba(0,0,0,.5);
    transition: .3s all;

    &:hover{
        box-shadow:  0 .2rem .5rem rgba(200,200,200,.5);
    }

    &:active{
        box-shadow:  0 .1rem .3rem rgba(200,200,200,.5);
    }
}

.media-overlay{
    position: fixed;
    background: rgba(0,0,0,.5); 
    top: 0;
    left: 0;
    width:      100vw;
    height:     100vh; 
    z-index:    10;
    display: none;
    

    &__body{
        width: 100%;
        display: flex;
        justify-content: center;
       
        padding: 1rem 0;
        
    }
   

    &__close{
        position: absolute;
        width: 4rem;
        fill: #fefefe;
        z-index: 1;
        
        top: 2rem;
        right: 6rem;
       
        cursor: pointer;
        transition: all .3s;
        border-radius: 50%;
        box-shadow: 0 .1rem .4rem rgba(0 ,0,0,.3);
      

        &:hover{
            box-shadow: 0 .2rem 2rem .5rem rgba(200,200,200,.5);
        }

        &:active{
            box-shadow: 0 .2rem 2rem .5rem rgba(0,0,0,.3);
        }
        
    }

    &__nav{
        position: absolute;
        top: 50%;
        cursor: pointer;
        width: 8rem;
        height: 8rem;

        border-radius: 50%;
        box-shadow: 0 .2rem .5rem rgba(0,0,0,.5);
        transition: .3s all;
        z-index: 1;
    
        &:hover{
            box-shadow:  0 .2rem .5rem rgba(200,200,200,.5);
        }
    
        &:active{
            box-shadow:  0 .1rem .3rem rgba(200,200,200,.5);
        }
        
        &--left{       
            left: 4rem; 
            transform: translateY(-50%) scaleX(-1);  
        }

        &--right{
            right: 4rem;
            transform: translateY(-50%);
        }

        &--disabled{
            cursor: default;
            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,.8);
                border-radius: 50%;
            }

            &:hover{
                box-shadow: 0 .2rem .5rem rgba(0,0,0,.5);
            }

            &:active{
                box-shadow: 0 .2rem .5rem rgba(0,0,0,.5);
            }
        }
    }

    &__nav-btn{
        width: 8rem;
    }


   
    &__item--img{
        user-select: none;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            display: block;
            max-height:100%; max-width:100%;
    
        }

    }

    &__item--youtube{
        position: relative;
        width: 80%;
        padding-bottom: 45%;
        height: 0;
        background: whitesmoke;
        top: 50%;
        transform: translateY(-50%);
      

        & > div{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
        iframe{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }


    &--is-visible{
        display: flex;
    }
}