.media-list{
    position: relative;
    display: grid;
   /* grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

    gap: 1rem;*/
    margin: 2rem 0;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    grid-auto-rows: 1fr;
    gap: 1rem;
    perspective: 1000px;
    
    
    &::before {
        content: '';
        width: 0;
        padding-bottom: 100%;
        grid-row: 1 / 1;
        grid-column: 1 / 1;
      }

    & > *:first-child {
        grid-row: 1 / 1;
        grid-column: 1 / 1;
    }
      

    &__item{
        box-shadow: 0 .2rem .5rem rgba(0,0,0, .2);
        overflow: hidden;
        background: whitesmoke;  
    }
   
}



/*   backgroundPosition: 'center',
  backgroundSize: 'cover',
  backgroundRepeat: 'no-repeat'*/


.media-item-editor{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;

  
    &__body{
        flex: 1;
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;     
        input {
            width: 96%;
        }
    }

    &__separator{
        border: 1px solid #999;
        width: 100%;
        margin: 1rem 0;
    }

    button{
        border: 1px solid #999;
        padding: .3rem .5rem;
        border-radius: .3rem;
        cursor: pointer;
        background: green;
        color: #fff;
        box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
    }
}